#show_banned_message {
	width: 100%; 
	border: 1px solid #dc3232; 
	background: #dc3232; 
	color: #fff; 
	margin: 1rem 0; 
	padding: 1rem;
}

#show_banned_message a {
	color: #fff;
	text-decoration: underline;
	font-weight: regular;
}

#show_banned_message a:hover,
#show_banned_message a:focus {
	color: #f0f0f0;
	text-decoration: none;
}